<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="fondoForm">
            <div class="fondo2Form">
                <h2 class="text-center mt-2 mb-4">Crear Sesión</h2>
                <form [formGroup]="signupForm" (ngSubmit)="registrar(signupForm.value)">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Nombre de usuario</label>
                                <input type="text" class="form-control" formControlName="user" placeholder="Nombre de usuario">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </fieldset>
                            <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched"><h5>Este campo es requerido</h5></div>
                        </div>
                    </div>   
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                            </fieldset>
                        </div>
                    </div>
                    <button [disabled]="signupForm.invalid" class="btn btn-block btn-success" type="submit">registrarse</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>