<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">Brand</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/whatwedo"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    What we do</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/ourwork"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Our Work</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/methology"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    Methodology</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/whoweare"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Who we are</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/blog"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Blog</a>
            </li>
            <li class="nav-item active" *ngIf="_clientes.ingresado.id">
                <a class="nav-link" routerLink="/clientes"  routerLinkActive="active" tabindex="-1">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    Clientes</a>
            </li>
        </ul>
        <a class="btn btn-info" *ngIf="!_clientes.ingresado.id" routerLink="/registro">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Registro</a>
        <button class="btn btn-info" *ngIf="_clientes.ingresado.id" type="button" (click)="_clientes.logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Cerrar Sesión</button>
        <a class="btn btn-success ml-2" *ngIf="!_clientes.ingresado.id" routerLink="/login">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Iniciar sesión</a>
    </div>
</nav>
