
<div class="navbar">
    <span class="logoCont">
        <img class="logo" src="../../../assets/images/nike1.png" alt="">
    </span>
    <span>
        <ul class="navCont">
            <li class="navItem"><a href="/home">Home</a></li>
            <li class="navItem"><a href="/whatwedo">what we do</a></li>
            <li class="navItem"><a href="/ourwork">our work</a></li>
            <li class="navItem"><a href="/methology">methodology</a></li>
            <li class="navItem"><a href="/whoweare">who we are</a></li>
            <li class="navItem"><a href="/jobs">jobs</a></li>
            <li class="navItem"><a href="/blog">blog</a></li>
            <li class="navItem"><a href="/contact">contact</a></li>
        </ul>
    </span>
</div>
