<div class="navbar">
    <span class="logoCont">
        <img class="logo" src="../../../assets/images/nike1.png" alt="">
    </span>
    <span>
        <ul class="navCont">
            <li class="navItem"><a href="">Home</a></li>
            <li class="navItem"><a href="">what we do</a></li>
            <li class="navItem"><a href="">our work</a></li>
            <li class="navItem"><a href="">methodology</a></li>
            <li class="navItem"><a href="">who we are</a></li>
            <li class="navItem"><a href="">jobs</a></li>
            <li class="navItem"><a href="">blog</a></li>
            <li class="navItem"><a href="">contact</a></li>
        </ul>
    </span>
</div>
