.logo{
    margin-top: 25px;
    height: 50px;
    width: 150px;
}

.logoCont{
    margin-left: 150px;
}

.navCont{
    float: right;
}

.navItem{
    float: left;
    text-decoration: none;
    margin-left: 80px;
}