/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 55px;
}

.fondo {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100%;
}

.home {
  background: url(assets/images/homebg.jpg);
}
.ourwork {
  background: url(assets/images/ourwork.jpg);
}
.whoweare {
  background: url(assets/images/Uniformes-laborales.jpg);
}
.whatwedo {
  background: url(assets/images/wwdfondo.jpg);
}
.methodology {
  background: url(assets/images/methodfondo.jpg);
}
.blog {
  background: url(assets/images/fondoBlog.jpg);
}
.login {
  background: white;
}
.registro {
  background: white;
}
.productos {
  background: white;
}
