/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fondo{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.home{
  background: url(assets/images/homebg.jpg);
}

.page{
  height: 100%;
}